Package: sddm-theme-win10
Source: sddm
Version: 0.0.5
Architecture: all
Maintainer: crasheddie <crash.eddie123@gmail.com>
Installed-Size: 2525
Recommends: sddm
Breaks: sddm (<< 0.18.1-1)
Provides: sddm-theme
Section: kde
Priority: optional
Homepage: https://github.com/sddm/sddm
Description: 'Win10' theme for SDDM X11 display manager
 Win10 theme for SDDM
